body, html {
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
.App-header {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-top: -20px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(57, 50, 156);
}
.logo_box {
    box-sizing: content-box;
    border-radius: 10px;
    border: 8px lightgray solid;
    width: 500px;
    text-align: center;
}
/* .logo_box {
    display: block;
    border: 10px lightgray solid;
    background-color: red;
    border-radius: 10px;
    position: relative;
    left: 1%;
    width: 240px;
    height: 80px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
} */
#username, #userAddress {
    color: gray;
}
#nav {
    width:1000px;
    margin:0 auto;
    list-style:none;
    display: inline-block;
    background-color: transparent;
    opacity: 0.7;
}
#nav li {
    float:left;
}
#nav a {
    display:block;
    text-align:center;
    width:280px; /* fixed width */
    text-decoration:none; 
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    color: black;
    background-color: transparent;
}
#nav a:hover {
    color: rgb(74, 116, 230);
    
} 
  
.sidebar {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    box-sizing: border-box;
    position: fixed;
    margin-top: 120px;
    height: 10%;
    left: 12%;
    display: flex;
    flex-direction: row;
    /* z-index: 100; */
    width: 75%;
    align-items: center;

}
.bigBlock{
    display: block;
    border-radius: 10px;
    background-color: rgb(231, 236, 242);
    opacity: 0.7;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 550px;
    margin-left: 55px;
    margin-bottom: 1px;
}
/* .sidebarBtn{
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: 5px #282c34 solid;
    color: black;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.sidebarBtn:hover{
    background-color: #282c34;
    color: white;
    text-align: center;
} */
.main {
    margin-left: 10%;
    margin-top: 10%;
    font-size: 12px;
}
.login {
    /* border: 3px solid rgb(45, 0, 128); */
    background-image: url("loginImage.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 230px; */
    width: 100%;
    text-align: center;
}
.loginBox {
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 230px;
    text-align: center;
}
input,
textarea {
    position: relative;
    left: 25%;
    top: 10%;
    text-align: center;
    display: block;
    border-radius: 7px;
    border: 2px #282c34 solid;
    background-color: white;
    padding: 10px 20px;
    width: 50%;
    color: #282c34;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    align-items: center;
}

#user-email {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: block;
    margin: 0;
    border-radius: 7px;
    border: 2px #282c34 solid;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    left: 1%;
    color: #282c34;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    align-items: center;

}
#address {
    position: relative;
    left: -3%;    
    text-align: center;
    display: block;
    margin: 0;
    border-radius: 7px;
    border: 2px #282c34 solid;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    color: #282c34;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    align-items: center;
}

input {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.log1{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 180px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
    left: 30%;
    top: 15%;
}
.log1:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.log2{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 180px;
    margin-top: -48px;
    /* left: 180px;
    top: 150px; */
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.log2:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.log3{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 350px;
    margin-top: -38px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.log3:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}
.Lognext {
    position: relative;
    display: block;
    border-radius: 10px;
    margin: auto;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.Lognext:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}
.profileButton {
    position: fixed;
    text-align: center;
    display: block;
    top: 1%;
    right: 1%;
    width: 70px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 650;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 50, 156);
    padding: 10px;
    transition: all 0.2s;
}
.profileButton:hover {
    background-color: lightgray;
    color: rgb(57, 50, 156);
    text-align: center;
}

#addAddress {
    position: absolute;
    right: 1%;
    bottom: 1%;
}
.otherBtn{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 180px;
    width: 150px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.otherBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.cmpBtn {
    position: relative;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: -20px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 3px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.cmpBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.refreshBtn{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 350px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: 3px #282c34 solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.refreshBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
#profile {
    position: fixed;
    top: 5%;
    right: 1%;
    text-align: right;
    font-size: 20px;
}
.connected {
    position: fixed;
    top: 18%;
    left: 1%;
    text-align: left;
    font-size: 20px;
}
#balDiv {
    position: absolute;
    margin-top: 200px;
    top: 0px;
    right: 1%;
    text-align: right;
}

.logoutBtn {
    position: fixed;
    text-align: center;
    display: block;
    top: 18%;
    right: 1%;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 50, 156);
    padding: 10px;
    transition: all 0.2s;
}

.logoutBtn:hover {
    background-color: lightgray;
    color: rgb(57, 50, 156);
    text-align: center;
}
