.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
.App-header {
    background-color: #282c34;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.sidebar {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--ic-brand-font-color-dark);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: fixed;
    margin-top: 200px;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: #f0f0f0;
    width: 20%;
    overflow-y: auto;
}

.main {
    margin-left: 20.5%;
}

.login {
    border: 3px solid rgb(45, 0, 128);
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#addAddress {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

#profile {
    position: absolute;
    top: 1%;
    right: 1%;
    text-align: right;
}

#balDiv {
    position: absolute;
    margin-top: 200px;
    top: 0px;
    right: 1%;
    text-align: right;
}