body, html {
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
.App-header {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-top: -20px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(57, 50, 156);
}
.logo_box {
    box-sizing: content-box;
    border-radius: 10px;
    border: 1px gray solid;
    width: 500px;
    text-align: center;
}

#username, #userAddress {
    color: gray;
}
#nav {
    width:1000px;
    margin:0 auto;
    list-style:none;
    display: inline-block;
    position: relative;
    background-color: transparent;
    opacity: 0.7;
    transition: 0.3s;
    margin-bottom: 10px;
}
#nav li {
    float:left;
}
#nav a {
    display:block;
    text-align:center;
    width:280px; /* fixed width */
    text-decoration:none; 
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    color: black;
    background-color: transparent;
}
#nav a:hover {
    color: rgb(57, 50, 156);
    
} 

#list {
    display:block;
    text-align:center;
    width:280px; /* fixed width */
    text-decoration:none; 
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    color: black;
    background-color: transparent; 
    left: 30%;
}
#list li {
    padding: 0.5em;
    margin: 0 6em;

}
#pendingList {
    display:block;
    text-align:center;
    width:280px; /* fixed width */
    text-decoration:none; 
    font-size: 15px;
    font-weight: 500;
    color: black;
    background-color: transparent; 
}
#pendingList li {
    padding: 0.5em;
    margin: 0 6em;
}
#compositionTx {
    position: relative;
    margin: 0 10.5em;
}
.compBox {
    box-sizing: content-box;
    border-radius: 10px;
    border: 1px gray solid;
    width: 450px;
    top: -8%;
    left: 4%;
    text-align: center;
}
.sidebar {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    box-sizing: border-box;
    position: fixed;
    margin-top: 120px;
    height: 10%;
    left: 12%;
    display: flex;
    flex-direction: row;
    /* z-index: 100; */
    width: 75%;
    align-items: center;

}
.bigBlock{
    display: block;
    border-radius: 10px;
    border: 30px rgb(231, 236, 242) solid;
    background-color: rgb(231, 236, 242);
    opacity: 0.7;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 550px;
    margin-left: 55px;
    margin-bottom: 1px;
}
.head_box {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    box-sizing: content-box;
    font-size: 11px;
    width: 80%;
    margin-left: 100px;
    text-align: center;
    /* border: 10px red solid; */
    border-bottom: 5px black solid;
}
.head_boxST {
    box-sizing: content-box;
    width: 40%;
    margin-top: 15px;
    font-size: 30px;
    margin-left: 300px;
    text-align: center;
    padding-bottom: 10px;
    /* border: 10px red solid; */
    border-bottom: 5px black solid;
}

.head_boxPD {
    box-sizing: content-box;
    width: 57%;
    margin-top: 16px;
    font-size: 30px;
    margin-left: 100px;
    text-align: center;
    padding-bottom: 10px;
    /* border: 10px red solid; */
    border-bottom: 5px black solid;
}

.main {
    margin-left: 10%;
    margin-top: 10%;
    font-size: 12px;
}
.login {
    /* border: 3px solid rgb(45, 0, 128); */
    background-image: url("loginImage.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 230px; */
    width: 100%;
    text-align: center;
}
.loginBox {
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 230px;
    text-align: center;
}
input,
textarea {
    position: relative;
    left: 25%;
    top: 10%;
    text-align: center;
    display: block;
    border: 2px #282c34 solid;
    background-color: rgb(231, 236, 242);
    padding: 10px 20px;
    width: 50%;
    color: #282c34;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    align-items: center;
}

#user-email {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: block;
    margin: 0;
    border-radius: 7px;
    border: 2px #282c34 solid;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    left: 1%;
    color: #282c34;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    align-items: center;

}
#address {
    position: relative;
    background-color: rgb(231, 236, 242);
    text-align: center;
    display: block;
    color: black;
    border: 2px black solid;
    left: -0.5%;    
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    transition: all 0.2s;
    align-items: center;
}

input {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.log1{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 180px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
    left: 32%;
    top: 15%;
}
.log1:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.log2{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 180px;
    margin-top: -48px;
    /* left: 180px;
    top: 150px; */
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.log2:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.log3{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 350px;
    margin-top: -38px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.log3:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}
.Lognext {
    position: relative;
    display: block;
    border-radius: 10px;
    margin: auto;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px lightgray solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.Lognext:hover {
    background-color: lightgray;
    color: black;
    text-align: center;
}
.profileButton {
    position: fixed;
    text-align: center;
    display: block;
    top: 1%;
    right: 1%;
    width: 70px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 650;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 50, 156);
    padding: 10px;
    transition: all 0.2s;
}
.profileButton:hover {
    background-color: lightgray;
    color: rgb(57, 50, 156);
    text-align: center;
}

#addAddress {
    position: absolute;
    bottom:5%;
    right: 2%;
    width: 500px;

}
#name {
    position: relative;
    bottom:5%;
    left: -0.5%;
    width: 300px;
}
.otherBtn{
    position: relative;
    display: block;
    margin-top: 20px;
    width: 180px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    border: 2px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 5px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
    left: 78%;
    top: 35.5%;
}
.otherBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.signTran{
    position: relative;
    display: block;
    padding-top: 20px;
    left: 76%;
    top: 2%;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: 2px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.signTran:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.stTran{
    position: relative;
    display: block;
    left: 38%;
    top: 13%;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: 2px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.stTran:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.cmpBtn {
    position: relative;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: -20px;
    width: 100px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    border: 3px #282c34 solid;
    color:  black;
    background-color: white;
    padding: 3px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.cmpBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
.refreshBtn{
    position: relative;
    display: block;
    border-radius: 10px;
    margin-left: 350px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: 3px #282c34 solid;
    color:  #282c34;
    background-color: white;
    padding: 10px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
}
.refreshBtn:hover {
    background-color: #282c34;
    color: white;
    text-align: center;
}
#profile {
    position: fixed;
    top: 5%;
    right: 1%;
    text-align: right;
    font-size: 20px;
}
.connected {
    position: fixed;
    top: 18%;
    left: 1%;
    text-align: left;
    font-size: 20px;
}
#balDiv {
    position: absolute;
    margin-top: 10px;
    font-size: 13px;
    top: 0px;
    right: 6%;
    text-align: right;
}

.logoutBtn {
    position: fixed;
    text-align: center;
    display: block;
    top: 18%;
    right: 1%;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 50, 156);
    padding: 10px;
    transition: all 0.2s;
}

.logoutBtn:hover {
    background-color: lightgray;
    color: rgb(57, 50, 156);
    text-align: center;
}


table {
    margin-top: 30px;
    width: 100%;
    border:  1px solid black;
}

.whitelistName {
    width: 20%;
    font-size: 20px;
    font-weight: 700;
}

.whitelistAddress {
    font-size: 20px;
    font-weight: 700;
    margin: 0 10.5em;    
}
.address {
    font-size: 20px;
    font-weight: 700;
    text-align: right;

    width: 80%;
    right: 1%;
}
