$primary-purple: rgb(57, 50, 156);
$light-purple: rgb(140, 135, 211);

#sidebar {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    top: 25px;
    height: auto;
    display: flex;
    flex-direction: row;
    left: 50%;
    margin-left: -570px;
    z-index: 50;
    width: 75%;
    align-items: center;
}

li.active {
    background-color: $light-purple;
}

li.active a {
    color: white;
}

#nav {
    padding-left: 0%;
    margin: 0 auto;
    list-style: none;
    position: relative;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;

    li {
        float: left;
    }

    a {
        display: block;
        text-align: center;
        width: 280px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
        color: black;
        border-radius: 10px;
        background-color: transparent;
    }

    a:hover {
        color: $primary-purple;
    }
}

