$light-blue: rgb(231, 236, 242);
$primary-black: #282c34;
$primary-purple: rgb(57, 50, 156);
$hover-purple: rgb(95, 88, 190);
$light-purple: rgb(140, 135, 211);
$primary-white: #fafbfc;
$font-style: 'Courier New', Courier, monospace;
