.other-Btn {
    position: relative;
    display: block;
    cursor: pointer;
    border: 2px #282c34 solid;
    border-radius: 10px;
    left: 83%;
    top: -12%;
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    border: 2px #282c34 solid;
    color: white;
    background-color: rgb(57, 50, 156);
    padding: 11px;
    transition: all 0.2s;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
}

.other-Btn:hover {
    text-align: center;
    background-color: lightgray;
    color: rgb(57, 50, 156);
}

.head-box {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    box-sizing: content-box;
    font-size: 15px;
    width: 80%;
    margin-left: 100px;
    text-align: center;
    border-bottom: 5px black solid;
}

.name {
    border-radius: 10px;
    position: relative;
    display: block;
    left: 50%;
    width: 48%;
    text-align: left;
    background-color: #fafbfc;
    padding: 13px;
    margin-top: -57px;
}

.name:hover {
    border-color: rgb(57, 50, 156);
}

.whitelist-Name {
    width: 40%;
    font-size: 20px;
    font-weight: 700;
}

.whitelist-Address {
    font-size: 20px;
    font-weight: 700;
    margin: 0 10.5em;
}

.row-Input {
    position: relative;
}
#addAddress {
    position: relative;
    top: 30%;
    left: 2%;
    width: 500px;
}

.address {
    border-radius: 10px;
    position: relative;
    text-align: left;
    display: block;
    color: black;
    padding: 13px;
    left: -0.2%;
    margin-top: 30px;
    width: 50%;
    transition: all 0.2s;
    align-items: left;
    background-color: #fafbfc;
}

.address:hover {
    border-color: rgb(57, 50, 156);
}
.new-add-box {
    position: relative;
    box-sizing: content-box;
    width: 53%;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 0px;
    text-align: center;
    top: 10%;
    border-bottom: 5px black solid;
}